<style>
.tag {
    background-color: white;
    border:1px solid gray;
    display: inline-block;
    width:auto;
    padding: 2px;
    border-radius: 4px;
}
</style>
<p>{{ methodConfig.description }}</p>

{% if methodConfig.tags|length > 0 %}
<h4> Tags </h4>

{% for tag in methodConfig.tags %}

{% if tag.color is defined %}
    {% set color = tag.color %}
{% else %}
    {% set color = 000000 %}
{% endif %}

{% autoescape false %}
<div class="tag" style=" color:#{{ tag.color }};">{{ tag.message|raw }}</div>
{% endautoescape %}
{% endfor %}
{% endif %}
<h4>Soap version</h4>
<p>WSDL url: <code>{{ wsdlUrl }}</code></p>
<p>Soap method: <code>{{ methodName }}</code></p>
<p>Example:</p>
{% autoescape false %}
```php

$client->{{ methodName }}(
{% for inputName, inputConfig in methodConfig.input %}
    {% set type = inputConfig.type|split('\\') %}

    ${{ inputName }},  //{{ inputConfig.description|default('') }} (Type: {{ type|last }}{% if inputConfig.group is defined %} Group: {{ inputConfig.group }}{% endif %}
{% endfor %}
)
);
```

{% endautoescape %}
{% if methodConfig.fixture is defined %}
Payload example:
{% autoescape false %}
```json
{{ methodConfig.fixture }}
```
{% endautoescape %}
{% endif %}

{% if methodConfig.headers|length > 0 %}
<h4> Headers </h4>
<ul>
{% for header in methodConfig.headers %}
{% autoescape false %}
<li>{{ header|raw }}</li>
{% endautoescape %}
{% endfor %}
</ul>
{% endif %}
