<p>{{ methodConfig.description }}</p>

<h4>Soap version</h4>
<p>WSDL url: <code>{{ wsdlUrl }}</code></p>
<p>Soap method: <code>{{ methodName }}</code></p>
<p>Example:</p>
{% autoescape false %}
```php

$client->{{ methodName }}(array(
{% for inputName, inputConfig in methodConfig.input %}
    '{{ inputName }}' => ${{ inputName }},  //{{ inputConfig.description|default('') }} (Type: {{ inputConfig.type }}{% if inputConfig.group is defined %} Group: {{ inputConfig.group }}{% endif %})
{% endfor %}
));

```
{% endautoescape %}